# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Database files
db.sqlite3
*.sqlite3
*.db

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/
env/
ll_env/

# Log files
*.log

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc

# Ignore macOS directory settings
.DS_Store

# Ignore environment configuration
.env
